<div class="content-wrapper" style="height:1000px">
  <div class="col-xs-12">
    <div class="alert alert-success" role="alert" *ngIf="showSuccess">New Area Added Successfully !!</div>
    <div class="alert alert-danger" role="alert" *ngIf="showError">ERROR !! Please Try Again.</div>

    <ol class="breadcrumb ">
      <li><a [routerLink]="[ '/' ] "><i class="fa fa-dashboard "></i> InvoiceApp</a></li>
      <li><a [routerLink]="[ '/' ] "><i class="fa fa-dashboard "></i> Area</a></li>
      <li class="active ">New</li>
    </ol>
  </div>
  <section class=" content-header ">
    <div class="col-md-12">
      <button class="btn btn-primary" type="button"
              (click)="createModeOn()">
        <i class="fa fa-plus" aria-hidden="true"></i> &nbsp;New Area
      </button>
      <h2 *ngIf="!editMode && createMode">
        Add New Area
      </h2>
      <h2 *ngIf="editMode && !createMode">
        Update Area
      </h2>
    </div>
  </section>
  <section class="content " *ngIf="createMode || editMode">
    <div class="col-md-12">
      <div class="box box-primary">
        <!--  Page Content Here -->
        <form class="form-horizontal " [formGroup]="areaCreateForm" (submit)="submitCreateAreaForm()">
          <!--name-->
          <div class=" form-group">
            <label for="name" class="col-sm-2 control-label ">Name</label>
            <div class="col-sm-10 ">
              <input formControlName="name" type="text " class="form-control" id="name" placeholder="area name ">
            </div>
          </div>

          <div class="form-group ">
            <div class="col-sm-offset-2 col-sm-10 ">
              <button type="submit" class="btn btn-success" *ngIf="!editMode">Save</button>
              <button type="submit" class="btn btn-warning" *ngIf="editMode">Update</button>
              <button type="button" class="btn btn-danger" *ngIf="editMode || createMode" (click)="cancelEdit()">Cancel</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </section>
  <app-area-all (showEditForm)="showEditForm($event)" (statusChange)="statusChanged($event)"
                [areas]="areas"></app-area-all>
</div>
