<div id="invoice_body">
  <!--invoice display starts here-->
  <div class="" id="invoice_box" style="margin-top:10px">
    <!--head row-->
    <div class="row ">
      <!--left section-->
      <div class="col-md-6">
        <img src="/assets/dist/img/company_logo_2.png" id="company_logo">
      </div>
      <!--right section-->
      <div class="col-md-6" style="text-align: -webkit-right">
        <h1 style="font-size: 70px;">INVOICE</h1><br>
        <div>
          <strong>Cyber Solutions BD</strong><br>
          <span>1st Floor, Boro Kalibari Market</span><br>
          <span>Boro Kalibari Road</span><br>
          <span>Tangail, 1900</span><br>
          <span>Bangladesh</span><br><br>

          <span>Phone: 01612859201</span><br>
          <span>Mobile: 01738291879</span><br>
          <span>cybersolutionsbd.com</span>
        </div>
      </div>
    </div>
    <hr>

    <!--middle row-->
    <div class="row">
      <!--left section-->
      <div class="col-md-6">
        <span> BILL TO: </span><br>
        <strong> sdajksdg </strong><br>
        <span> asdjgahsd </span><br>
        <!--<span> {{ invoice.customerData?.area }} </span><br>-->
        <span> dahsgdjhagds </span><br>
        <span> Bangladesh </span><br>

        <span>=ASDASD </span><br>
        <span> ASJDGHAJSDH </span><br>
      </div>
      <!--right section-->
      <div class="col-md-offset-2 col-md-4" style="text-align: -webkit-right;;line-height: 2;">
        <span> <strong>Invoice Number: </strong> #001</span><br>
        <span> <strong>Invoice Date: </strong> SJDFGSJ </span><br>
        <span> <strong>Payment Due: </strong> AJSDGJ </span> <br>
        <span> <strong>Amount Due (BDT): </strong> Tk. ASHDGASD </span><br>
      </div>
    </div>
    <br>
  </div>
  <!--table section-->
  <div id="invoice_table">
    <table class="table" *ngIf="invoice.productData">
      <thead style="background-color: rgba(0, 183, 219, 0.68);">
      <th style="height:40px;padding-left:20px">Product</th>
      <th>Price</th>
      <!--<th>VAT(%)</th>-->
      <th style="padding-left: 200px;">Quantity</th>
      <th style="padding-left: 200px;">Amount</th>
      </thead>
      <tbody>
      <tr>
        <td style="padding-left:20px">ASDASD</td>
        <td>Tk. ASDASD</td>
        <!--<td> {{ product?.vat }}%</td>-->
        <td style="padding-left: 200px;">1</td>
        <td style="padding-left: 200px;">Tk. ASDASD</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <!--<td></td>-->
        <td style="padding-left: 200px;">
          <strong>Total: </strong>
        </td>
        <td style="padding-left: 200px;">
          Tk.
        </td>
      </tr>
      <tr *ngFor="">

        <td></td>
        <td></td>
        <!--<td></td>-->
        <td style="padding-left: 200px;">
          <strong>Payment On : ASDASDASD </strong>
        </td>
        <td style="padding-left: 200px;">
          tk. ASDASD
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <!--<td></td>-->
        <td style="border-bottom: 4px solid #d2d6de;padding-left: 200px;">
          Discount
        </td>
        <td style="border-bottom: 4px solid #d2d6de;padding-left: 200px;">
          Tk. ASDASD
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <!--<td></td>-->
        <td style="padding-left: 200px;">
          <strong>Amount Paid (BDT)</strong>
        </td>
        <td style="padding-left: 200px;">
          <strong>Tk. {{ invoice.total }}</strong>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <!--<td></td>-->
        <td style="padding-left: 200px;">
          <strong>Amount Due (BDT)</strong>
        </td>
        <td style="padding-left: 200px;">
          <strong>Tk. {{ finalTotal }}</strong><br>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <!--<td></td>-->
        <td style="padding-left: 200px;">
          <strong>Total(in words)</strong>
        </td>
        <td style="padding-left: 200px;">
          <strong style="text-transform: capitalize;"> {{ finalTotalWords }} Tk only</strong>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
