<div class="content-wrapper" style="height: 1500px;">
  <section class=" content-header ">
    <div class="col-xs-12">
      <h1>
        Create New Customer
      </h1>
      <ol class="breadcrumb ">
        <li><a [routerLink]="[ '/' ] "><i class="fa fa-dashboard "></i> InvoiceApp</a></li>
        <li><a [routerLink]="[ '/' ] "><i class="fa fa-dashboard "></i> Customer</a></li>
        <li class="active ">Create</li>
      </ol>
    </div>
  </section>
  <section class="content ">
    <div class="col-md-12">

      <div class="box box-primary">
        <div class="alert alert-success" role="alert" *ngIf="showSuccess">New Customer Created Successfully !!</div>
        <div class="alert alert-danger" role="alert" *ngIf="showError">ERROR !! Please Try Again.</div>
        <!--  Page Content Here -->
        <form class="form-horizontal " [formGroup]="customerCreateForm" (submit)="submitCustomerCreateForm()">
          <!--username-->
          <div class=" form-group ">
            <label for="username " class="col-sm-2 control-label ">Username</label>
            <div class="col-sm-10 ">
              <input formControlName="username" type="text " class="form-control " id="username "
                     placeholder="Username " required>
            </div>
          </div>

          <!--NID-->
          <div class=" form-group ">
            <label for="nid" class="col-sm-2 control-label ">NID</label>
            <div class="col-sm-10 ">
              <input formControlName="nid" type="number" class="form-control " id="nid " placeholder="NID " required>
            </div>
          </div>
          <!--email-->
          <div class="form-group ">
            <label for="email " class="col-sm-2 control-label ">Email</label>
            <div class="col-sm-10 ">
              <input formControlName="email" type="email " class="form-control " id="email " placeholder="Email ">
            </div>
          </div>
          <!--fullname-->
          <div class="form-group ">
            <label for="fullname " class="col-sm-2 control-label ">Fullname</label>
            <div class="col-sm-10 ">
              <input formControlName="fullname" type="text " class="form-control " id="fullname "
                     placeholder="Fullname ">
            </div>
          </div>
          <!--customer_currency-->
          <!--<div class="form-group ">
          <label for="customer_currency " class="col-sm-2 control-label ">Customer Currency</label>
          <div class="col-sm-10 ">
              <input formControlName="customer_currency" type="text " class="form-control " id="customer_currency " placeholder="Customer Currency ">
          </div>
      </div>-->

          <!--mobile_primary-->
          <div class="form-group ">
            <label for="mobile_primary " class="col-sm-2 control-label ">Mobile Primary</label>
            <div class="col-sm-10 ">
              <input formControlName="mobile_primary" type="text " class="form-control " id="mobile_primary "
                     placeholder="Mobile primary ">
            </div>
          </div>

          <!--mobile_secondary-->
          <div class="form-group ">
            <label for="mobile_secondary " class="col-sm-2 control-label ">Mobile Secondary</label>
            <div class="col-sm-10 ">
              <input formControlName="mobile_secondary" type="text " class="form-control " id="mobile_secondary "
                     placeholder="Mobile secondary ">
            </div>
          </div>

          <!--website-->
          <div class="form-group ">
            <label for="website " class="col-sm-2 control-label ">Website</label>
            <div class="col-sm-10 ">
              <input type="text" formControlName="website" class="form-control " id="website " placeholder="website ">
            </div>
          </div>

          <!--country-->
          <!--<div class="form-group ">
              <label for="country " class="col-sm-2 control-label ">Country</label>
              <div class="col-sm-10 ">
                  <input type="text" formControlName="country" class="form-control " id="country " placeholder="country ">
              </div>
          </div>-->

          <!--location-->
          <div class="form-group ">
            <label for="location " class="col-sm-2 control-label ">Location</label>
            <div class="col-sm-10 ">
              <input type="text " formControlName="location" class="form-control " id="location "
                     placeholder="location ">
            </div>
          </div>

          <!--area list-->
          <div class="form-group ">
            <label for="area " class="col-sm-2 control-label ">Area</label>
            <div class="col-sm-10 ">
              <select required *ngIf="areaList" class="form-control" formControlName="area">
                <option *ngFor="let area of areaList" value="{{ area._id }}">{{ area.name }}</option>
              </select>
            </div>
          </div>

          <!--city-->
          <div class="form-group ">
            <label for="city " class="col-sm-2 control-label ">City</label>
            <div class="col-sm-10 ">
              <input type="text " formControlName="city" class="form-control " id="city " placeholder="city ">
            </div>
          </div>

          <!--postal_code-->
          <div class="form-group ">
            <label for="postal_code " class="col-sm-2 control-label ">Postal Code</label>
            <div class="col-sm-10 ">
              <input type="text " formControlName="postal_code" class="form-control " id="postal_code "
                     placeholder="Postal Code ">
            </div>
          </div>

          <!--status-->
          <div class="form-group ">
            <label for="postal_code " class="col-sm-2 control-label ">Status</label>
            <div class="col-sm-10 ">
              <select formControlName="status" required class="form-control">
                <option value="true">Active</option>
                <option value="false">Inactive</option>
              </select>
            </div>
          </div>

          <!--product list-->
          <div class="form-group " *ngFor="let item of createRange(allProductCounter);let i=index">
            <label class="col-sm-2 control-label ">Product [{{ i+1 }}]</label>
            <div class="col-sm-10 ">
              <div class="productSelectBox">
                <select required *ngIf="productList" class="form-control" (change)="onProductChange($event,i)">
                  <option *ngFor="let product of productList" value="{{ product._id }}">
                    {{ product.name }} - <em> {{ product.rate }} BDT/month </em>
                  </option>
                </select>
                <button *ngIf="i>0" type="button" class="pull-right btn btn-danger btn-xs" (click)="removeProduct(i)"><i
                  class="fa fa-times" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
          <button (click)="addProduct()" type="button" class="pull-right btn btn-success"><i class="fa fa-plus"
                                                                                             aria-hidden="true"></i>
            &nbsp; Add Product
          </button>


          <div class="form-group ">
            <div class="col-sm-offset-2 col-sm-10 ">
              <button type="submit" class="btn btn-success ">Save</button>
              <a type="button" class="btn btn-primary " [routerLink]="['/customer/all']">Back</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
