<div class="content-wrapper" style="height: 1800px;">
  <section class="content-header">
    <div class="col-xs-12">
      <h1>
        InvoiceApp - Cyber Solutions BD
      </h1>
      <ol class="breadcrumb">
        <li><a [routerLink]="[ '/' ]"><i class="fa fa-dashboard"></i> InvoiceApp</a></li>
        <li class="active">Home</li>
      </ol>
    </div>
  </section>
  <section class="content">
    <!--  Page Content Here -->
    <div class="col-xs-12">
      <h3>Payment Date vs. Paid Amount </h3>
      <app-pay-date-chart></app-pay-date-chart>
    </div>
    <br>
  </section>
</div>
