<div class="content-wrapper" style="height: 1800px;">
    <section class="content-header">
        <div class="col-xs-12">
            <h1>
                Recent Invoices <small><em> Generated for the month of {{ currentDate | date: 'MMMM' }} </em></small>
            </h1>
            <ol class="breadcrumb">
                <li><a [routerLink]="[ '/' ]"><i class="fa fa-dashboard"></i> InvoiceApp</a></li>
                <li><a [routerLink]="[ '/' ]"><i class="fa fa-dashboard"></i> Invoice</a></li>
                <li class="active">Recent</li>
            </ol>
        </div>
    </section>
    <section class="content">
        <!--  Page Content Here -->

        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">List Of Recent Invoice</h3>
                    <br>
                    <div class="box-tools">
                        <div class="row">
                            <div class="col-lg-6" style="float:right">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <select style="font-size: 15px;height: 34px;" (change)="filterChange($event.target.value)">
                                            <option value="username">Username</option>
                                            <option value="mobile_number">Mobile Number</option>
                                            <option value="area">Area</option>
                                        </select>
                                    </div>
                                    <!-- /btn-group -->
                                    <input type="text" class="form-control" aria-label="..." placeholder="Search Recent Invoices" (input)="quickSearch($event.target.value)">
                                </div>
                                <!-- /input-group -->
                            </div>
                        </div>
                        <br><br>
                        <!-- /.row -->
                        <!-- /.row -->
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Fullname</th>
                                <th>Mobile</th>
                                <th>Area</th>
                                <th>Product</th>
                                <th>Total (BDT)</th>
                                <th>Status</th>
                                <th>Due Date</th>
                                <th>Change Status</th>
                                <th>Action</th>
                            </tr>
                            <tr *ngFor="let invoice of invoiceList | paginate: { itemsPerPage: 30, currentPage: p }">
                                <td>{{ invoice.customerData?.username }}</td>
                                <td>{{ invoice.customerData?.email }}</td>
                                <td>{{ invoice.customerData?.fullname }}</td>
                                <td>{{ invoice.customerData?.mobile_primary }}</td>
                                <td>{{ invoice.customerData?.areaData?.name }}</td>
                                <!--<td><span *ngIf="invoice.customerData?.productData?.length>0"> {{ invoice.customerData?.productData[0]?.name }} - <em *ngIf="invoice.customerData?.productData[0]?.rate">{{ invoice.customerData?.productData[0]?.rate }} BDT/month</em> </span>
                                    <small class="label bg-blue">{{ invoice.customerData?.productData.length }}</small>
                                </td>-->
                                <td><small class="label bg-blue">{{ invoice.customerData?.productData.length }}</small></td>
                                <td>{{ invoice.total }}</td>
                                <td>
                                    <label class="label label-danger"> {{ invoice.status }} </label>
                                </td>
                                <td>
                                    {{ invoice?.payment_due_date | date }}
                                </td>
                                <td>
                                    <button class="btn btn-success btn-xs"> Paid</button>
                                    <button class="btn btn-warning btn-xs"> Partially Paid</button>
                                    <button class="btn btn-danger btn-xs"> Due</button>
                                </td>
                                <td>
                                    <a type="button" class="btn btn-primary btn-xs" (click)="editInvoice(invoice)"> Edit</a>
                                    <a type="button" class="btn btn-primary btn-xs"> View</a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <div class="col-md-offset-4">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </section>
</div>