<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
            </div>
        </form>
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">Cyber Solutions BD</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a [routerLink]="['dashboard/home']"><i class="fa fa-home"></i><span>Home</span></a></li>
            <li><a [routerLink]="['dashboard/upload-file']"><i class="fa fa-files-o"></i> <span>Upload File</span></a></li>
            <!-- customer options -->
            <li class="treeview">
                <a href="#"><i class="fa fa-users"></i> <span>Customers</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
                <ul class="treeview-menu">
                    <li><a [routerLink]="['dashboard/customer/all']"><i class="fa fa-circle-o"></i> All Customers</a></li>
                    <li><a [routerLink]="['dashboard/customer/create']"><i class="fa fa-circle-o"></i> New Customer</a></li>
                </ul>
            </li>
            <!-- products options -->
            <li><a [routerLink]="['dashboard/product']"><i class="fa fa-shopping-cart"></i> <span>Products</span></a></li>
            <!-- invoice options -->
            <li class="treeview">
                <a href="#"><i class="fa fa-file-o"></i> <span>Invoices</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#"> <i class="fa fa-circle-o"></i> All Invoices</a>
                    </li>
                    <li>
                        <a href="#"> <i class="fa fa-circle-o"></i>Invoice Settings</a>
                    </li>
                </ul>
            </li>

            <!--reports-->
            <li><a href="#"><i class="fa fa-pie-chart"></i><span>Reports</span></a></li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>